@page
@model HRsystem.Pages.Departments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DepartmentInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentInfo.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentInfo.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentInfo.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentInfo.Location)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DepartmentInfo?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
