@page
@model HRsystem.Pages.Account.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1></h1>
<h1 class="text-primary">AccountInfo</h1>
<h4 class="text-warning">@Model.Infomation</h4>
<a class="text-danger btn btn-warning" href="/Account/Logout">Logout</a>
<section>
<div class="container bg-light p-3">

<p>
    <a asp-page="Create" class="btn btn-lg btn-primary">Create New</a>
</p>
    
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountInfo[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountInfo[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountInfo[0].Authority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AccountInfo) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authority)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


</div>

</section>