@page
@model HRsystem.Pages.RewardingAndPunishment.IndexModel

@{
    ViewData["Title"] = "Index";
}
<h1 class="text-primary">RewardingAndPunishment</h1>
<section>
<div class="container bg-light p-3">

<p>
    <a asp-page="Create" class="btn btn-lg btn-primary">Create New</a>
</p>
    


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RewardingAndPunishmentInfo[0].PrincipalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RewardingAndPunishmentInfo[0].PersonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RewardingAndPunishmentInfo[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RewardingAndPunishmentInfo[0].Detail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RewardingAndPunishmentInfo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrincipalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>

</section>
