@page
@model HRsystem.Pages.Identity.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountInfo[0].AccountInfoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountInfo[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountInfo[0].Autority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AccountInfo) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.AccountInfoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autority)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.AccountInfoId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.AccountInfoId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.AccountInfoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
