@page
@model HRsystem.Pages.Ui.PersonInfoModel
@{
    ViewData["Title"] = "PersonInfo Ui page";
}
@Model.ErrorMassage
<div class="border container-fluid ">
    <h4>PersonInfo</h4>
    <!---->
    <hr />
    <div class="w-100 border-0 container">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonBasicInfo.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonBasicInfo.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonBasicInfo.DepartmentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonBasicInfo.DepartmentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonBasicInfo.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonBasicInfo.Sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonBasicInfo.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonBasicInfo.Age)
        </dd>
    </dl>
    </div>

    <div>
        <h4>SalaryInfo</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SalaryInfo.Basic)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SalaryInfo.Basic)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SalaryInfo.Bonus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SalaryInfo.Bonus)
            </dd>
        </dl>
    </div>

    <div>
        <h4>DepartmentInfo</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DepartmentInfo.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DepartmentInfo.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DepartmentInfo.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DepartmentInfo.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DepartmentInfo.Location)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DepartmentInfo.Location)
            </dd>
        </dl>
    </div>

</div>
<br />
<div class="border container-fluid ">
    RewardingAndPunishmentInfo
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RewardingAndPunishmentInfo[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RewardingAndPunishmentInfo[0].PrincipalId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RewardingAndPunishmentInfo[0].Detail)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RewardingAndPunishmentInfo)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrincipalId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detail)
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <!--
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    -->
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br />


<div class="border container">
    TrainingInfo
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TrainingInfo[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TrainingInfo[0].Detail)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TrainingInfo)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detail)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>