@page
@model HRsystem.Pages.Training.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TrainingInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingInfo.PersonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingInfo.PersonId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingInfo.Detail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingInfo.Detail)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TrainingInfo?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
